<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br>
      <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
        <%= f.input :description, placeholder: 'A nice description' %>
        <%= f.input :price, placeholder: 'A great price'%>
        <%= f.input :capacity, placeholder: 'Capitcity number' %>
        <%= f.input :address,  placeholder: 'Start typing your address...', :input_html => { :id => 'user_input_autocomplete_address' } %>
        <%= f.input :city, placeholder: 'City\'s place' %>
        <%= f.input :country, collection: @continents, prompt: "Select a country" %>
        <br>
        <%= f.file_field :picture %>
        <br>
        <div class="center">
          <%= f.submit class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDRNN4Q3kica7JUVDyTJGm07w0QDduPhvA">
</script>
