s<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@flat, html: { multipart: true }) do |f| %>
          <%= f.input :description, placeholder: 'A nice address', hint: 'No special characters.' %>
          <%= f.input :price %>
          <%= f.input :capacity %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :country, collection: @continents, prompt: "Select a country"%>
          <%= f.file_field :picture %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
