<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <%= form_tag(flats_path, :method => "get", id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Your next destination", class: "form-control" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-3 col-sm-offset-1 bg-white padding1 center">
        <%= link_to (image_tag flat.picture.url(:medium)), flat  %>
        <p>Description:</p>
        <%= flat.description %>
        <p>Capacity:</p>
        <%= flat.capacity %>
        <p>Country:</p>
        <%= flat.country %>
        <p>Price</p>
        <%= flat.price %>
        <br>
        <%= link_to 'Show', flat, class: "btn btn-success" %> <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-success" %> <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
      </div>
    <% end %>
    <br>
    <%= link_to 'Add New flat', new_flat_path, class:"btn btn-danger btn-large pull-right" %>
  </div>
</div>

