<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <br>
      <br>
      <%= form_tag(flats_path, :method => "get", id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :city, params[:city], :id => 'user_input_autocomplete_address', placeholder: "Your next destination", class: "form-control" %>
        <%= label_tag :capacity %>
        <%= select_tag :capacity, options_for_select(Flat::CAPACITY_OPTIONS), class: "form-control"%>
        <%= submit_tag "Search", :name => nil, class: "btn btn-danger" %>
      <% end %>
    </div>
    <div id="map" style="width: 100%; height: 600px;"></div>

    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDRNN4Q3kica7JUVDyTJGm07w0QDduPhvA">
</script>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <% @flats.each_slice(4) do |flats| %>
      <% flats.each do |flat| %>
        <div class="col-xs-12 col-sm-3">
          <div class="bg-white center padding1 content_index">
            <br>
              <div class="border-bot padding1">
                <% if flat.picture_file_name %>
                  <%= link_to (image_tag flat.picture.url(:medium)), flat %>
                <% else %>
                  <%= link_to (image_tag("missing_image.png", class: "img-avatar")), flat%>
                <% end %>
              </div>
              <div class="border-bot">
                <p>Description:</p>
                <%= flat.description %>
              </div>
              <div class="border-bot">
                <p>Capacity:</p>
                <%= flat.capacity %>
              </div>
              <div class="border-bot">
                <p>Country:</p>
                <%= flat.country %>
              </div>
              <div class="border-bot">
                <p>Price</p>
                <%= flat.price %>
              </div>
            <br>
          </div>
        </div>
      <% end %>
      <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
    <% end %>
  </div>
</div>


