
<% @flats.each do |flat| %>

<%= link_to (image_tag flat.picture.url(:medium)), flat  %>
<p>Description:</p>
<%= flat.description %>
<p>Capacity:</p>
<%= flat.capacity %>
<p>Country:</p>
<%= flat.country %>
<p>Price</p>
<%= flat.price %>
<br>
<%= link_to 'Show', flat %>|<%= link_to 'Edit', edit_flat_path(flat) %>|<%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
<br>
<%= link_to 'New flat', new_flat_path %>
