<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <%= image_tag @flat.picture.url(:large) %>
      <p>Description:</p>
      <%= @flat.description %>
      <p>Capacity:</p>
      <%= @flat.capacity %>
      <p>Address:</p>
      <%= @flat.address %>
      <p>City:</p>
      <%= @flat.city %>
      <p>Country:</p>
      <%= @flat.country %>
      <p>Price per day:</p>
      <%= @flat.price %>
    </div>
  </div>
</div>
  <br>

  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br><br>
        <%= simple_form_for [@flat, Order.new] do |f| %>
          <%= f.input :date_begin, as: :date %>
          <%= f.input :date_end, as: :date %>
        <div class="center">
          <%= f.submit class: "btn btn-danger" %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<%= link_to 'Back', flats_path %>