<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="bg-white padding1 content_index">

<div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([<%= raw @flat_coordinates.to_json %>]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>



      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="bg-white padding1 content_index">
        <div class="border-bot">
          <div class="padding1 center">
            <% if @flat.picture_file_name %>
                <%= image_tag @flat.picture.url(:large) %>
            <% else %>
                <%= image_tag("missing_image.png")%>
            <% end %>
          </div>
        </div>
        <div class="border-bot">
          <p>
            Description:
            <div class="padding1 center">
              <%= @flat.description %>
            </div>
          </p>
        </div>
        <div class="border-bot">
          <p>Capacity:</p>
          <div class="padding1 center">
            <%= @flat.capacity %>
          </div>
        </div>
        <div class="border-bot">
          <p>Address:</p>
          <div class="padding1 center">
            <%= @flat.address %>
          </div>
        </div>
        <div class="border-bot">
          <p>City:</p>
          <div class="padding1 center">
            <%= @flat.city %>
          </div>
        </div>
        <div class="border-bot">
          <p>Country:</p>
          <div class="padding1 center">
            <%= @flat.country %>
          </div>
        </div>
        <p>Price per day:</p>
        <div class="padding1 center">
          <%= @flat.price %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <br>
      <br>
      <%= simple_form_for [@flat, Order.new] do |f| %>
        <%= f.input :date_begin, as: :date %>
        <%= f.input :date_end, as: :date %>
      <div class="center">
        <br>
        <br>
        <%= f.submit class: "btn btn-danger" %>
        <% end %>
        <div class="padding1">
          <br>
          <br>
          <%= link_to 'Go Back', flats_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
